<body class="all-place">
    <app-navbar></app-navbar>

    <div class="row">
        <div class="col my-4 mx-3">

            <div class="card" style="width: 30rem;">
                <div class="card-body">
                  <h2 class="card-title">Formulaire serveur</h2>
                  <div class="row my-3">
                    <div class="col">
                      <label for="exampleFormControlInput1" class="form-label">Nom Serveur</label>
                      <input type="email" class="form-control form-control-sm" [formControl]="nameServer" id="title" placeholder="Nom serveur">
                    </div>
                    <div class="col">
                      <label for="exampleFormControlInput1" class="form-label">Adresse Ip Serveur</label>
                      <input type="email" class="form-control form-control-sm" [formControl]="ipAddressServer" id="title" placeholder="Adresse ip">
                    </div>
                  </div>
                  <div class="row my-3">
                    
                    <div class="col"><input type="button" class="btn btn-info" value="Enregistrer serveur" (click)="insertServer()"/></div>
                  </div>
                </div>
              </div>

        </div>
        <div class="col mx-3 my-4">

            <div class="card" style="width: 36rem;">
                <div class="card-body">
                  <h2 class="card-title">Formulaire website</h2>
                  <div class="row my-3">
                    <div class="col">
                      <label for="exampleFormControlInput1" class="form-label">Nom Website</label>
                      <input type="email" class="form-control form-control-sm" [formControl]="NomSite" id="title" placeholder="Name">
                    </div>
                    <div class="col">
                      <label for="exampleFormControlInput1" class="form-label">Nom Domaine</label>
                      <input type="email" class="form-control form-control-sm" [formControl]="DomainSite" id="title" placeholder="Domain name">
                    </div>
                    <div class="col">
                      <label for="exampleFormControlInput1" class="form-label">Adresse Ip</label>
                      <input type="email" class="form-control form-control-sm" [formControl]="ipAddressSite" id="title" placeholder="IpAdress">
                    </div>
                  </div>
                  <div class="row my-3">
                    <div class="col">
                      <label for="exampleFormControlInput1" class="form-label">Serveur website</label>
                      <select class="form-select" aria-label="Default select example" [formControl]="ServeurSite">
                        <option *ngFor="let server of this.Resp" [value]="server.id">
                          {{server.name}}
                      </option>
                        
                      </select>
                    </div>
                    <div class="col">
                      <label for="exampleFormControlInput1" class="form-label">Etat</label>
                      <div class="form-check form-switch cursor-pointer">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" [formControl]="EtatSite" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Actif / Inactif</label>
                      </div>
                    </div>
                    
                  </div>
                  <div class="row my-3">
                    <div class="col"><input type="button" class="btn btn-info" value="Enregistrer website" (click)="insertWebsite()" /></div>
                  </div>
                </div>
              </div>
            </div>
    </div>
    
            </body>

  
  
  
