<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container-fluid text-white">
      <a class="navbar-brand" href="#">Server management</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" [routerLink]="['/add']">Ajouter(Serveur/Site)</a>
          <a class="nav-link" [routerLink]="['/list']">Liste des serveurs</a>
        </div>
      </div>
    </div>
  </nav>